__pycache__/
.idea/
.venv/
.*/
calib_images/
iframe_figures/
*.prof
*.chat
flamegraph.svg
pose_estimate.py
pose_estimate_2.py
__MACOSX/
recordings425.zip
recordings/
training_data/
obsolete/
pose_data.csv
pose_data_smoothed.csv
